In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import Data
ords_prods_merge = pd.read_pickle("/Users/sarahboller/Desktop/CF 4 Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_merge.pkl")

In [3]:
# Define Path for later
path = r'/Users/sarahboller/Desktop/CF 4 Instacart Basket Analysis'

In [4]:
# Step 2
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [ ]:
# Step 3 Difference between subset and full data
   #There are more departments listed in the full dataframe
    #The mean values in the subset are slightly higher/lower than the means found using the entire dataframe

In [5]:
# Step 4 Loyalty Flag 
 ## Transform
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/xq/j07ql7ls565cz8lmytmw14b40000gn/T/ipykernel_84893/53648537.py:2: FutureWarning: The provided callable <function amax at 0x11347cd60> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
## loc
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Check counts:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [15]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

In [17]:
#Step 5 Aggregate  to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [22]:
# Step 6: Create Spending flag
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/xq/j07ql7ls565cz8lmytmw14b40000gn/T/ipykernel_84893/3342486745.py:2: FutureWarning: The provided callable <function mean at 0x11347da80> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [26]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'Spender_flag'] = 'Low Spender'

In [25]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'Spender_flag'] = 'High Spender'

In [27]:
ords_prods_merge['Spender_flag'].value_counts(dropna = False)

Spender_flag
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

In [33]:
ords_prods_merge[['user_id', 'mean_price', 'Spender_flag']].head(20)

    user_id  mean_price Spender_flag
0         1    6.367797  Low Spender
1         1    6.367797  Low Spender
2         1    6.367797  Low Spender
3         1    6.367797  Low Spender
4         1    6.367797  Low Spender
5         1    6.367797  Low Spender
6         1    6.367797  Low Spender
7         1    6.367797  Low Spender
8         1    6.367797  Low Spender
9         1    6.367797  Low Spender
10       15    3.980556  Low Spender
11       15    3.980556  Low Spender
12       15    3.980556  Low Spender
13       15    3.980556  Low Spender
14       15    3.980556  Low Spender
15       19    8.372059  Low Spender
16       19    8.372059  Low Spender
17       19    8.372059  Low Spender
18       21    7.012683  Low Spender
19       31    8.137793  Low Spender

In [34]:
# Step 7 Create frequency flag
ords_prods_merge['median_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/xq/j07ql7ls565cz8lmytmw14b40000gn/T/ipykernel_84893/2601665436.py:2: FutureWarning: The provided callable <function median at 0x1135bbd80> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_freq'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [36]:
ords_prods_merge.loc[ords_prods_merge['median_freq'] > 20, 'freq_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_freq'] > 10) & (ords_prods_merge['median_freq'] <= 20), 'freq_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_freq'] <= 10, 'freq_flag'] = 'Frequent customer'

In [40]:
ords_prods_merge[['user_id','median_freq','freq_flag']].head(20)

    user_id  median_freq              freq_flag
0         1         20.5  Non-frequent customer
1         1         20.5  Non-frequent customer
2         1         20.5  Non-frequent customer
3         1         20.5  Non-frequent customer
4         1         20.5  Non-frequent customer
5         1         20.5  Non-frequent customer
6         1         20.5  Non-frequent customer
7         1         20.5  Non-frequent customer
8         1         20.5  Non-frequent customer
9         1         20.5  Non-frequent customer
10       15         10.0      Frequent customer
11       15         10.0      Frequent customer
12       15         10.0      Frequent customer
13       15         10.0      Frequent customer
14       15         10.0      Frequent customer
15       19          6.0      Frequent customer
16       19          6.0      Frequent customer
17       19          6.0      Frequent customer
18       21          7.5      Frequent customer
19       31          6.0      Frequent customer

In [41]:
ords_prods_merge['freq_flag'].value_counts(dropna = False)

freq_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [43]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))